// primary colors
$primary-blue: #3d3dff;
$primary-red: #ff4343;
$primary-green: #44ff86;
$primary-yellow: #ffed4e;

// neutral colors
$gray-1: #292929;
$gray-2: #595959;
$gray-3: #898989;
$gray-4: #a9a9a9;
$gray-5: #d9d9d9;
$gray-6: #f2f2f2;
$white: #ffffff;

:root {
  // primary colors
  --primary-blue: #3d3dff;
  --primary-red: #ff4343;
  --primary-green: #44ff86;
  --primary-yellow: #ffed4e;

  // neutral colors
  --gray-1: #292929;
  --gray-2: #595959;
  --gray-3: #898989;
  --gray-4: #a9a9a9;
  --gray-5: #d9d9d9;
  --gray-6: #f2f2f2;
  --white: #ffffff;
}

.blue {
  &__bg {
    background-color: $primary-blue;
  }
  &__fill {
    fill: $primary-blue;
  }
}

.red {
  &__bg {
    background-color: $primary-red;
  }
  &__fill {
    fill: $primary-red;
  }
}

.green {
  &__bg {
    background-color: $primary-green;
  }
  &__fill {
    fill: $primary-green;
  }
}

.yellow {
  &__bg {
    background-color: $primary-yellow;
  }
  &__fill {
    fill: $primary-yellow;
  }
}

.gray-1 {
  &__bg {
    background-color: $gray-1;
  }
  &__fill {
    fill: $gray-1;
  }
}

.gray-2 {
  &__bg {
    background-color: $gray-2;
  }
  &__fill {
    fill: $gray-2;
  }
}

.gray-3 {
  &__bg {
    background-color: $gray-3;
  }
  &__fill {
    fill: $gray-3;
  }
}

.gray-4 {
  &__bg {
    background-color: $gray-4;
  }
  &__fill {
    fill: $gray-4;
  }
}

.gray-5 {
  &__bg {
    background-color: $gray-5;
  }
  &__fill {
    fill: $gray-5;
  }
}

.gray-6 {
  &__bg {
    background-color: $gray-6;
  }
  &__fill {
    fill: $gray-6;
  }
}

.white {
  &__bg {
    background-color: $white;
  }
  &__fill {
    fill: $white;
  }
}

.text {
  &__blue {
    color: $primary-blue;
  }
  &__red {
    color: $primary-red;
  }
  &__green {
    color: $primary-green;
  }
  &__yellow {
    color: $primary-yellow;
  }
  &__gray-1 {
    color: $gray-1;
  }
  &__gray-2 {
    color: $gray-2;
  }
  &__gray-3 {
    color: $gray-3;
  }
  &__gray-4 {
    color: $gray-4;
  }
  &__gray-5 {
    color: $gray-5;
  }
  &__gray-6 {
    color: $gray-6;
  }
  &__white {
    color: $white;
  }
}
