div.view__dashboard {
  > div.board-wrapper {
    > div.board-header-section {
      margin-top: 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > div.dashboard-task-action-buttons-wrapper {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}

div.modal-action-button-wrapper {
  width: fit-content;
  margin-top: 2em;
  gap: 1em;
}