div.view__dashboard {
  > div.dashboard-header {
    justify-content: space-between;
    width: 100px;
    padding: 1.2em 0px;
    display: flex;
    // align-items: center;
    > div.dashboard-header__workspace-details-wrapper {
      display: flex;
      align-items: center;
      gap: 1.6em;
    }
    > div.user-profile-actions-wrapper {
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 1em;
    }
  }
}