.button {
  text-align: center;
  display: flex;
  gap: 6px;
  align-items: center;
  font-family: inherit;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 1.2px;
  // class-extends for button-types
  &-primary {
    background-color: var(--primary-blue);
    color: white;
    border: 1.2px solid var(--primary-blue);
    transition: all 0.2s ease-in-out;
    &:hover {
      filter: brightness(96%);
    }
    &:focus {
      box-shadow: 0px 0px 1px 3px rgba(193, 193, 255, 0.712);
    }
  }
  &-primary-disabled {
    background-color: var(--gray-5);
    color: var(--gray-2);
    border: none;
  }
  &-outline {
    background-color: transparent;
    border: 1.2px solid var(--primary-blue);
    color: var(--primary-blue);
    transition: all 0.2s ease-in-out;
    &:hover {
      filter: brightness(96%);
    }
    &:focus {
      box-shadow: 0px 0px 1px 3px rgba(193, 193, 255, 0.712);
    }
  }
  &-outline-disabled {
    background-color: transparent;
    border: 1.2px solid var(--gray-5);
    color: var(--gray-4);
  }

  // class-extends for button-sizes
  &-small {
    padding: 10px;
  }
  &-large {
    padding: 12px;
  }
}

div.button-wrap-fit-content {
  width: fit-content;
}
