.button {
  text-align: center;
  overflow: hidden;
  display: flex;
  gap: 6px;
  align-items: center;
  font-family: inherit;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 1.2px;
  // class-extends for button-types
  &-primary {
    background-color: var(--primary-blue);
    color: white;
    border: 1.2px solid var(--primary-blue);
    transition: all 0.1s ease-in-out;
    &:hover {
      filter: brightness(96%);
    }
  }
  &-primary-disabled {
    background-color: var(--gray-5);
    color: var(--gray-2);
    border: none;
  }
  &-outline {
    background-color: transparent;
    border: 1.2px solid var(--primary-blue);
    color: var(--primary-blue);
    transition: all 0.1s ease-in-out;
    &:hover {
      filter: brightness(96%);
    }
  }
  &-outline-disabled {
    background-color: transparent;
    border: 1.2px solid var(--gray-5);
    color: var(--gray-4);
  }

  // class-extends for button-sizes
  &-small {
    padding: 8px;
  }
  &-large {
    padding: 12px;
  }
}

div.button-wrap-fit-content {
  width: fit-content;
}