body {
  color: var(--gray-1);
  font-family: var(--font-inter);
  ::-webkit-scrollbar {
    display: none;
  }
}

div.view__app {
  // display: grid;
  // grid-template-columns: 20% auto;
}

div.view {
  margin-left: 350px;
}
