div.project-card {
  padding: 1.8em 1em;
  box-shadow: 0px 2px 8px var(--gray-6);
  border-radius: 6px;
  border: 0.2px solid transparent;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: none;
    border: 0.2px solid var(--gray-5);
  }
  > p.project-title {
    font-weight: 700;
  }
  > p.project-description {
    color: var(--gray-4);
    font-size: 14px;
  }
  > div.project-statistics-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    > div.project-statistics__stars-count-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    > div.project-statistics__forks-count-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  > div.card-footer__language-tags-wrapper {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}