div.view__profile {
  > div.profile-board-header {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div.profile-action-buttons-wrapper {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
  > div.profile-wrapper {
    margin-top: 4em;
    > div.profile-header-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      > img.user-profile-display-picture {
        width: 80px;
      }
    }
    > div.profile-body-content-wrapper {
      margin-top: 2em;
      > div.description-section-wrapper {
        margin-top: 1em;
        margin-bottom: 0.8em;
        > p.user-description {
          color: var(--gray-3);
        }
      }
      > div.contact-details-section-wrapper {
        padding: 2em 0em;
        > h5.contact-details-title {
          margin-bottom: 1em;
        }
        > div.contact-details__phone-number-wrapper {
          display: flex;
          align-items: center;
          gap: 8px;
        }
        > div.contact-details__email-address-wrapper {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
}